* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202020;
  font-family: "Krub", sans-serif;
}

header {
  margin-top: 64px !important;
}

main {
  margin-top: 32px !important;
}

footer {
  margin: 24px 0px;
  text-align: center;
  color: #fff;
}

#webApp__loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background: #151515;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
}

.container {
  margin: 0px auto;
  padding: 0px 12px;
  width: 820px;
  max-width: 100%;
}

.push-up-10 {
  margin-top: 10px;
}

#webApp__about {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 8px;
  background: #151515;
  color: #eaeaea;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 40px;
  box-shadow: 0px 10px 25px 5px rgb(0 0 0 / 40%);
  border: solid 3px crimson;
}

#webApp__about .photo {
  position: relative;
}

#webApp__about .photo img {
  position: absolute;
  margin-left: -80px;
  top:50%;
  transform: translate(0%, -50%);
  border-radius: 50%;
  height: 160px;
  width: 160px;
  border: solid 6px crimson;
}

#webApp__about .about {
  display: grid;
  grid-gap: 8px;
  padding: 16px;
}

#webApp__about .social-medias {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

#webApp__about .h2 {
  padding: 16px;
}

#webApp__about .h3 {
  padding: 16px;
}

#webApp__expert {
  display: grid;
}

#webApp__expert .percentages {
  text-align: center;
}

#webApp__expert .percentages section {
  display: inline-block;
  margin: 0px 12px;
}

.percentages section .progress-bar {
  position: relative;
}

.percentages section .progress-bar strong {
  position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 43px;
    color: #ffffff;
}

#webApp__expert .percentages section p {
  margin-top: 6px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
}

#webApp__experiences {
  width: 100%;
  display: grid;
  grid-gap: 12px;
  color: #c6c6c6;
}

#webApp__experiences h2,
#webApp__expert h2 {
  color: #fff;
  letter-spacing: 2px;
}

#webApp__experiences section {
  display: grid;
  grid-template-columns: 64px auto;
  grid-gap: 8px;
  padding: 12px;
  background: #151515;
  box-shadow: 0px 10px 25px 5px rgb(0 0 0 / 20%);
  border-radius: 12px;
}

@media only screen and (max-width: 1000px) {
  header {
    margin-top: 102px !important;
  }

	#webApp__about {
		grid-template-columns: 1fr;
	}

  #webApp__about .photo {
    margin: 0 auto;
    height: 42px;
    margin-top: -22px;
  }
}

@media only screen and (max-width: 680px) {
  #webApp__about .photo {
    height: 140px;
    margin-top: -70px;
  }
}